/* Google Fonts Title - Rubik */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Doodle+Shadow&display=swap');
/* Google Fonts text - Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/img/bgimage.jpg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading and Text*/
header {
    padding: 40px 10px 1rem;
    font-family:"Rubik Doodle Shadow", sans-serif;
    color: #9f021e;
    width: 100%;
    text-align: center;
    font-size: 175%;

}

header a{
    color: inherit;
    text-decoration: none;
}

/* Container */
.container {
    background-color: rgba(25, 27, 30, 0.7);
    color: #fff;
    padding: 10px 1rem;
    margin: 1.5em;
    text-align: justify;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    
}

strong{
    font-size:120%;
}

/* Start Button */
.start-btn {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #bd4840 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    text-align: center;
    margin: 20px auto 0;
    
}

.start-btn:hover {
    background: linear-gradient(to bottom, #f24437 10%, #c62d1f 100%);
    background-color: #f24437;
}

.start-btn:active {
    position: relative;
    top: 1px;
}
/* Test Page */

.question-area{
    background-color: rgba(25, 27, 30, 0.7);
        color: #fff;
        padding: 80px 5rem;
        margin: 0.5rem;
        text-align: justify;
        font-family: "Kanit", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);

}

/* Age , goal, lifestyle question area */

.age-text, .goal-text, .lifestyle-text, .lgoal-text{
    background-color: rgba(25, 27, 30, 0.7);
    color: #fff;
    padding: 80px 5rem;
    margin: 0.5rem;
    text-align: justify;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

}

.age-btn, .goal-btn , .lgoal-btn {
    box-shadow: 3px 4px 0px 0px #8a2a21;
        background: linear-gradient(to bottom, #c62d1f 5%, #bd4840 100%);
        background-color: #c62d1f;
        border-radius: 18px;
        border: 1px solid #d02718;
        cursor: pointer;
        color: #ffffff;
        font-family: "Kanit", sans-serif;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #810e05;
        text-align: center;
        margin: 10px;
        padding: 15px;

}

.lifestyle-btn{
    box-shadow: 3px 4px 0px 0px #8a2a21;
        background: linear-gradient(to bottom, #c62d1f 5%, #bd4840 100%);
        background-color: #c62d1f;
        border-radius: 18px;
        border: 1px solid #d02718;
        cursor: pointer;
        color: #ffffff;
        font-family: "Kanit", sans-serif;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #810e05;
        text-align: center;
        margin: 5px;
        

}


/*This is going to change ------>>> :/ */
/*Result pages*/

.result-flex-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#gain-img, #loss-img,
#control-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*Modal style https: //www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/*/

.modal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    
    
    
}

.modal .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

#gain-nutrition-img, #control-nutrition-img, #loss-nutrition-img  {
    max-width: 100%;
    height: auto;
    display: block;

}

.hidden {
    display: none;
}
.btn-open {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #bd4840 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    text-align: center;
    margin: 20px auto 0;

}

.btn-open:hover {
    background: linear-gradient(to bottom, #f24437 10%, #c62d1f 100%);
    background-color: #f24437;
}

.btn-open:active {
    position: relative;
    top: 1px;
}

.btn-close {
    padding: 0.5rem 0.7rem;
    background: #d02718;
    border-radius: 50%;
    top: 400px;
    opacity: 0.6;
   
}

/* Validation Form*/

.form{
    background-color: rgba(25, 27, 30, 0.8);
}
h3{
    font-family: "Kanit", sans-serif;
    color:#fff;
    text-align: center;
    font-size: 85%;
    margin: 2px;
}



/* Footer */
footer {
   
    justify-content: flex-end;
}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks li a {
    color:rgba(25, 27, 30, 0.8);
    font-size: 250%;
    padding: 5%;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {
header {
    font-size: 300%;
}

.container {
    margin: 100px;
}

.container > h2 {
    font-size: 300%;
}

.container > p {
    font-size: 180%;
    text-align: center;
}


#social-networks li a {
    font-size: 400%;
}

.question-area label{
    font-size: 200%;

}

.question-area input{
    font-size:180%;
}

.start-btn {
    font-size: 300%;
}

#next-btn {
    font-size: 300%;
}

/* Age and goal question area */

.age-text, .goal-text {
    
    padding: 100px 20rem;
    font-size: 300%;

}

.age-text p {
    font-size: 220%;
}

.goal-text p {
    font-size: 220%;
}

input#name {
    font-size: 200%;
}

.age-btn {
    margin: 20px 10px;
    font-size: 180%;
}

.goal-btn{
        margin: 20px 30rem;
        font-size: 180%;
}

}

/*larger devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    body {
            
            background-size: 100%;
           
        }

    .container {
        width: 700px;    
        font-size: 60%;
    
        }
    
        #social-networks li a {
            font-size: 250%;
        }
    
        .start-btn {
            font-size: 150%;
        }

#next-btn{
    font-size: 150%;
}

    /*Age-btn*/

.age-text, .goal-text {

    padding: 100px 15rem;
    font-size: 100%;
    

}

.age-btn, .goal-btn{
     margin: 20px 1px;
    font-size: 150%;
    }
}